#---------------------------------------------------------
# PlexAPI requirements to run py.test.
# pip install -r requirements_dev.txt
#---------------------------------------------------------
flake8==7.3.0
pillow==12.1.0
pyjwt[crypto]==2.10.1
pytest==8.4.1
pytest-cache==1.0
pytest-cov==7.0.0
pytest-mock==3.14.1
recommonmark==0.7.1
requests==2.32.5
requests-mock==1.12.1
sphinx==7.4.7
sphinx-rtd-theme==3.0.2
tqdm==4.67.1
websocket-client==1.8.0
